<!DOCTYPE html>
<html>
  <head>
    <title>视频</title>
    <style>
        div{
          margin: 0 auto;
          text-align: center;
          width: 1440px;
          height: 1080px;
        }
        img{
          width: 65%;
          height: 65%;
          border: 1px solid black;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script type="text/javascript">
        // 建立与服务器的Socket.IO连接
        var socket = io.connect(window.location.origin);
  
        // 当Socket.IO连接成功时
        socket.on('connect', function() {
            console.log('已连接到服务器');
        });
  
        // 监听服务器发来的'new_data'事件
        socket.on('new_data', function(data) {
            // 更新图片源
            var imgElement = document.getElementById('realtime-image');
            imgElement.src = 'data:image/jpeg;base64,' + data.image;
  
            // 更新数据内容
            var dataDisplay = document.getElementById('data-display');
            dataDisplay.textContent = data.data;
        });
    </script>
  </head>
  <body>
      <h1>视频</h1>
      <img id="realtime-image" alt="实时图片">
      <div id="data-display"></div>
  </body>
</html>

